<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="filter-container">
                    <form #filterForm="ngForm" (ngSubmit)="applyFilters()">
                        <label for="start-date">Starting Date:</label>
                        <input type="date" id="start-date" name="start-date" [(ngModel)]="startDate">
                        <label for="end-date">End Date:</label>
                        <input type="date" id="end-date" name="end-date" [(ngModel)]="endDate">
                        <button type="submit">Apply Filter</button>
                    </form>
                    <div class="dropdown-form-group ml-3 d-flex align-items-center select-wrapper">
                        <label for="store-id" class="store-id-label">Store ID:</label>
                        <input type="text" id="store-id" name="store-id" class="form-control" [(ngModel)]="selectedStoreId">
                        <label *ngIf="showStoreLabel" class="ml-2">{{ storeLabelText }}</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="ageBarChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Age Analysis</h4>
                        <p class="card-category">Provides an age-based analysis of the total number of customers entering the supermarket during the relevant time period.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="horizontalBarChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Gender Analysis</h4>
                        <p class="card-category">Provides gender-based analysis of total customers entering the supermarket in the relevant time interval.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-blue">
                        <div class="ct-chart" id="multiLineChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Age and Gender Analysis</h4>
                        <div class="legend">
                            <div class="legend-item">
                                <div class="turquoise-box"></div>
                                <p class="legend-description">Men</p>
                            </div>
                            <div class="legend-item">
                                <div class="pink-box"></div>
                                <p class="legend-description">Women</p>
                            </div>
                        </div>
                        <p class="card-category">Provides gender-age range based analysis of total customers entering the supermarket in the relevant time interval.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="lineChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Total Customer Analysis</h4>
                        <p class="card-category">Provides the change in the total number of customers entering the store at all times on a monthly basis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="secondLineChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Correctness Analysis</h4>
                        <p class="card-category">Provides the correctness rate change of the predictions made in the relevant time interval. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
