<div class="main-content">
  <div class="container-fluid">
    <div class="filter-container">
      <form #filterForm="ngForm" (ngSubmit)="applyFilters()">
          <label for="start-date">Starting Date:</label>
          <input type="date" id="start-date" name="start-date" [(ngModel)]="startDate">
          <label for="end-date">End Date:</label>
          <input type="date" id="end-date" name="end-date" [(ngModel)]="endDate">
          <button type="submit">Apply Filter</button>
      </form>
  </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  
                    <h4 class="card-title mb-0">Age Detection List</h4>
                    <div class="d-flex justify-content-end">

                    </div>
                </div>
                
                <script>

                </script>
                
                 <!-- servis bağladığımızda accuracy renkleri için js kodu
                    <script src="js/accuracy.js"></script>
                  <script>    
                      document.addEventListener("DOMContentLoaded", function() {
                          // Tablodaki Accuracy sütunundaki her hücreye erişim sağla
                          var accuracyCells = document.querySelectorAll(".table tbody td:nth-child(2)");
                  
                          // Her hücredeki yüzde değerini al, "%" işaretini kaldır ve sayıya dönüştür
                          accuracyCells.forEach(function(cell) {
                              var accuracyText = cell.textContent; // Yüzde değeri metni
                              var accuracyValue = parseFloat(accuracyText.replace("%", "")); // Yüzde değeri sayıya dönüştür
                              cell.textContent = accuracyValue; // Yüzde değerini güncelle
                          });
                      });
                  </script> -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="text-primary">
                          <th>ID</th>
                          <th>Detected Age</th>
                          <th>Confidence Score</th>
                          <th>Result Date</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of ageDetectionData">
                            <td>{{ item.resultId }}</td>
                            <td>{{ item.detectedAge }}</td>
                            <td>{{ item.confidenceScore }}</td>
                            <td>{{ item.timestamp }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
          </div>
         